<footer class="site-footer">
    <div class="f-info">
        <div class="f-brand">
            <i class="fa-regular fa-compass"></i> PGMatez
        </div>
        <div class="f-copyright">
            &copy; 2024 PGMatez Private Limited
        </div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        <div class="f-socials">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </div>
</footer>