<div class="navbar">
  <div class="logo">
    <span class="pg">PG</span><span class="mate">Matez</span>
  </div>


  <div>
    <a href="/listing/new">
      <h3>new</h3>
    </a>
  </div>




  <button class="search-btn">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>