<div class="footer-nav">
  <a href="/listing" class="f-nav-list" data-route="/listing">
    <i class="fa-solid fa-house"></i>
  </a>

  <a href="/saved" class="f-nav-list" data-route="/saved">
    <i class="fa-regular fa-heart"></i>
  </a>

  <a href="/users/new" class="f-nav-list" data-route="/users">
    <i class="fa-solid fa-user"></i>
  </a>
</div>





<script>
  const currentPath = window.location.pathname;
  const navItems = document.querySelectorAll(".f-nav-list");

  navItems.forEach(item => {
    if (currentPath.startsWith(item.dataset.route)) {
      item.classList.add("active");
    } else {
      item.classList.remove("active");
    }
  });

</script>